body{
    margin: 0;
    background: url("../images/regal.png");
    background-size: auto, cover;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-weight: 330px;
}

h1{
    color: #4aaaa5;
}

.container{
    width: 960px;
    background: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
}

header{
    background: white;
}

.portfolio-images{
    margin-bottom: 10px;
}

.name{
    background: #4aaaa5;
    width: 40%;
}

#myName{
    color: white;
    text-align: center;
    
}

p{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777777;
}

.navbar{
    padding: 10px;
    background-color: white; 
    
    width: 100%;
}
a{
    text-decoration: none;
    color: #777777; 
    padding: 2px 40px;
    border-right: 1px solid #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
a:last-child{
    border:none;
}

a:hover{
   color: #4aaaa5;
} 

.lists{
    float: right;
    padding-top: 25px;
}

label{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777777;
}

input, textarea{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    width: 100%;
    outline: none;
    box-shadow: none;
    height: 2em;
    margin: 10px 0px 20px 0px;
}

textarea{
    height: 15em;
}

button{
    background-color: #4aaaa5;
    padding: 10px 32px;
    font-size: 16px;
    color: white;
    outline: none;
    box-shadow: none;
}

button:focus{
    background-color: #666666;
}

footer{  
    clear: both;
    border-top: 8px solid #4aaaa5;  
    background: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.Copyright{
    color: white;
}